/* disable zoom and scroll, If i were to add scroll you know the classic selecction*/

.wallpaper {
    position: relative;
    top: 0;
    left: 0;
}

.background1 {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    -o-object-fit: contain;
    object-fit: contain;
    transform: scaleX(1.5) scaleY(1.5);
    z-index: -1;
}

.parallax1 {
    position: fixed;
    bottom: -40%;
    max-width: 100%;
    max-height: 100%;
    left: 0px;
    z-index: 1;
    transition: bottom 0.6s ease-out;
}

.scrolled .parallax1 {
    bottom: -30%;
    max-width: 100%;
    max-height: 100%;
    left: 0px;
    z-index: 1;
}
/* fix later to follow exact scroll amount */
.parallax2 {
    position: fixed;
    bottom: 0%;
    max-width: 100%;
    max-height: 100%;
    left: 0px;
    z-index: 3;
    transition: bottom 0.6s ease-out;
}

.scrolled .parallax2 {
    bottom: -20%;
    max-width: 100%;
    max-height: 100%;
    left: 0px;
    z-index: 3;
}

.taskbar {
    position: fixed;
    bottom: 0%;
    z-index: 5;
    left: 0px;
}

.startButton {
    background-color: Transparent;
    background-repeat: no-repeat;
    padding: 0;
    border: transparent;

    position: fixed;
    bottom: -0.35%;
    left: 0px;
    z-index: 6;
}

.internetButton {
    background-color: Transparent;
    background-repeat: no-repeat;
    padding: 0;
    border: transparent;

    position: fixed;
    top: 20%;
    left: 30%;
    z-index: 6;
}

.tab {
    position: fixed;
    bottom: 4.5%;
    left: 0px;
    z-index: 7;
    opacity: 0;
}