/* disable zoom and scroll, If i were to add scroll you know the classic selecction*/

.wallpaper {
    position: relative;
    top: 0;
    left: 0;
}

.background1 {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    -o-object-fit: contain;
    object-fit: contain;
    transform: scaleX(1.5) scaleY(1.5);
    z-index: -1;
}

.parallax1 {
    position: fixed;
    bottom: -40%;
    max-width: 100%;
    max-height: 100%;
    left: 0px;
    z-index: 1;
    transition: bottom 0.6s ease-out;
}

.scrolled .parallax1 {
    bottom: -30%;
    max-width: 100%;
    max-height: 100%;
    left: 0px;
    z-index: 1;
}

/* fix later to follow exact scroll amount */
.parallax2 {
    position: fixed;
    bottom: 0%;
    max-width: 100%;
    max-height: 100%;
    left: 0px;
    z-index: 3;
    transition: bottom 0.6s ease-out;
}

.scrolled .parallax2 {
    bottom: -20%;
    max-width: 100%;
    max-height: 100%;
    left: 0px;
    z-index: 3;
}

/* Taskabr CSS code */
.UI {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    overflow: visible;
}


.taskbar {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border-top: 1px solid #1E5CD5;
    background: linear-gradient(180deg, #498DEA 0%, #1E5CD5 20%, #1E5CD5 50.48%, #1E5CD5 80%, #1941A5 100%);
    display: flex;
    align-items: center;
    bottom: 0px;
    padding: 0 5px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    overflow: visible;
}

.menubar {
    width: 217px;
    height: 38px;
    border: 1px solid #056399;
    background: linear-gradient(180deg, #20AFF8 0%, #0F8EE5 20%, #0391F1 50.48%, #0F8EE5 80%, #20AFF8 100%);
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 6;
}

.startButton {
    background-color: transparent;
    background-repeat: no-repeat;
    padding: 0;
    border: transparent;
    position: fixed;
    bottom: 0px;
    left: -8px;
    z-index: 6;
    cursor: pointer;
    width: 143px;
    height: 40px;
    overflow: visible;
}

.internetExplorerButton {
background-color: transparent;
padding: 0;
border: transparent;
}

.startButton svg {
    width: 143px;
    height: 40px;
    display: block;
}

.startButton svg path {
    stroke: #388537;
    stroke-width: 1;
    fill: url(#paint0_linear_2_8);
}

.startButton:hover svg path {
    stroke: #388537;
    stroke-width: 1;
    fill: url(#paint0_linear_hover);
}

.startButton:active svg path {
    stroke: #388537;
    stroke-width: 1;
    fill: url(#paint0_linear_active);
}

.startButton-text {
    position: absolute;
    left: 42%;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-weight: bold;
    font-size: 22px;
    font-family: DungGeunMo, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.70);
    pointer-events: none;
}

.windows-logo {
    position: fixed;
    left: 12px;
    bottom: -13px;
    transform: translateY(-50%);
    width: 35px;
    height: 31.37px;
    pointer-events: none;
    z-index: 7;
}

.ampm {
    position: fixed;
    bottom: 10px;
    right: 90px;
    color: #FFF;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-family: DungGeunMo, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.clock {
    position: fixed;
    color: #FFF;
    bottom: 5x;
    right: 20px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-family: 'Windows XP Tahoma', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    font-weight: 400;
}

.ie-icon {
    position: fixed; 
    width: 90px;
    height: auto;
    left: 40%;
    top: 50.5%;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.4s ease, transform 0.6s ease;
    z-index: 2;
    transition-delay: 0.3s;
}

.ie-icon.scrolled {
    opacity: 1;
    transform: translateY(0);
}

.bestWork-icon {
    position: fixed; 
    width: 90px;
    height: auto;
    left: calc(50% - 45px);
    top: 50%;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.4s ease, transform 0.6s ease;
    z-index: 2;
    transition-delay: 0.2s;
}

.bestWork-icon.scrolled {
    opacity: 1;
    transform: translateY(0);
}

.contactMe-icon {
    position: fixed; 
    width: 65px;
    height: auto;
    left: 55%;
    top: 50%;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.4s ease, transform 0.6s ease;
    z-index: 2;
    transition-delay: 0.1s;
}

.contactMe-icon.scrolled {
    opacity: 1;
    transform: translateY(0);
}



.ie-icon:active {
    transform: scale(0.98);
}



.bestWork-icon:active {
    transform: scale(0.98);
}



.contactMe-icon:active {
    transform: scale(0.98);
}